<style>
    #aboutUsWrap{
        padding: 20px;
    }
    div.aboutUsContent{
        max-width: 600px;
    }
    div.aboutUsContent {
        padding: 5px 2px;
        text-align: center;
        border: 1px solid black;
        border-radius: 5px;
        font-size: 20px;
        background-color: #aaaaaa;
        box-shadow: 2px 2px 35px #444444;
    }
    div.aboutUsContent p.intro{
        font-family: "Cabin", ruby;
        font-size: 1.5em;
        margin-left: 10px;
    }
    div.aboutUsContent ul{
        font-size: 1.5em;
        margin-left:50px;
    }
</style>
<div id="aboutUsWrap">

<div class="aboutUsContent" >
   <tt class="lobster">We make Toys</tt>
<!--     <p class="lobster"><span>Who Are We?</span></p>
    <hr/>

    <p class="intro">
        We are a small group of fresh graduates who have great interest in web Development and excellent understanding of web technologies.

    </p>
    <p class="intro">
        We currently work full time in a Web Engineer position, so we have about 30 - 50 hours a week to do other projects.
    </p>
    <p class="intro">
        Although we are inexperienced in this field, we pick up stuff relatively quickly and will rely on existing designs.
    </p>
    <p class="intro">
        Our Goal is to provide WebPage & WebApp Development as a service and pick up the trends else where.
        We do not rely on CRM software, we believe our products will be more fluid and customizable without.
        <br/><br/>In Web, We know:
    </p>
    <ul>
        <li>Javascript</li>
        <li>HTML5</li>
        <li>CSS3 & Transition</li>
        <li>Asp.NET Web Page</li>
        <li>Php</li>
        <li></li>
    </ul> -->
</div>

</div>