<style>
    #aboutUsWrap{
        padding: 20px;
    }
    div.aboutUsContent{
        max-width: 600px;
    }
    div.aboutUsContent {
        padding: 5px 2px;
        text-align: center;
        border: 1px solid black;
        border-radius: 5px;
        font-size: 20px;
        background-color: #aaaaaa;
        box-shadow: 2px 2px 35px #444444;
    }
    div.aboutUsContent p.intro{
        font-family: "Cabin", ruby;
        font-size: 1.5em;
        margin-left: 10px;
    }
    div.aboutUsContent ul{
        font-size: 1.5em;
        margin-left:50px;
    }
</style>
<div id="aboutUsWrap">

<div class="aboutUsContent" >
   <tt class="lobster">We make Toys</tt>
    
</div>

</div>
