<div ng-controller="homeCtrl">
    <style>
        body{
            background-color: #f0fff0;
        }
        #homeWrap{
            width: 100%;
            height:100%;
        }
        [shuffle-blocks]{
            display: inline-block;
            position: relative;
            border: 4px solid rgba(100,100,100,0);
            overflow: hidden;
        }
        [shuffle-blocks]:hover{
            border: 4px solid rgba(100,100,100,0.4);
            box-shadow: 0 0 10px #9ecaed;
        }

        [shuffle-blocks] > div{
            /*position: absolute;*/
            transition: all 2s ease-out;
            -webkit-transition: all 2s ease-out;
            -moz-transition: all 2s ease-out;
        }

        [shuffle-blocks][type="1"],
        [shuffle-blocks][type="1"] img{
            width: 150px;
            height: 150px;
        }

        [shuffle-blocks][type="2"]{
            top:4px;
        }
        [shuffle-blocks][type="2"],
        [shuffle-blocks][type="2"] img{
            width: 312px;
            height: 150px;
        }

        p.intro{
            font-family: "Cabin", ruby;
            font-size: 1.5em;
            margin-left: 10px;
        }


    </style>
    <!--<p id="spinner">Please wait while we do what we do best.</p>-->
    <div id="homeWrap">
        <!--<img src="./assets/img/wemake.jpg">-->
        <div>
            <div shuffle-blocks type="1"> <!--Type 1 = cube-->
                <div class="shuffle-pane relative">
                    <div><img ng-src="./assets/img/wemake.jpg"/></div>
                </div>
            </div>
            <div shuffle-blocks type="1">
                <div class="shuffle-pane relative">
                    <div><img ng-src="./assets/img/monkey.png"/></div>
                </div>
            </div>
            <div shuffle-blocks type="2">
                <div class="shuffle-pane relative">
                    <div><img ng-src="./assets/img/banner1.png"></div>
                    <div><img ng-src="./assets/img/banner2.jpg"></div>
                    <div><img ng-src="./assets/img/banner3.jpg"></div>
                    <div><img ng-src="./assets/img/banner4.jpg"></div>
                </div>
            </div>
            <div shuffle-blocks type="1">
                <div class="shuffle-pane relative">
                    <div><img ng-src="./assets/img/face.jpg"></div>
                </div>
            </div>
        </div>

        <div>
            <div shuffle-blocks type="2">
                <div class="shuffle-pane relative">
                    <div><img ng-src="./assets/img/www.jpg"></div>
                    <div><img ng-src="./assets/img/rhino.jpg"></div>
                </div>
            </div>
            <div shuffle-blocks type="1">
                <div class="shuffle-pane relative">
                    <div><img ng-src="./assets/img/future.jpg"></div>
                </div>
            </div>
            <div shuffle-blocks type="2">
                <div class="shuffle-pane relative">
                    <div><img ng-src="./assets/img/banner10.jpg"></div>
                    <div><img ng-src="./assets/img/banner11.jpg"></div>
                    <div><img ng-src="./assets/img/banner12.jpg"></div>
                </div>
            </div>
        </div>

        <p class="intro">
            We are Web Developers/FreeLancers.
        </p>
    </div>

</div>